name: Changesets

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: changeset-${{ github.ref }}
  cancel-in-progress: false

env:
  GOPRIVATE: github.com/jakoblorz

jobs:
  changesets:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/changesets.yml
    secrets:
      version_token: ${{ secrets.CI_PAT_TO_TRIGGER_RELEASE_ACTION }}
      publish_token: ${{ secrets.CI_PAT_TO_TRIGGER_RELEASE_ACTION }}
